body{
 background-color: #000000;
}
img{
  width: 100%;
}


#loginBox {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
#loginBox input {
    margin-bottom: 10px;
}
#clickableImage {
cursor: pointer;
}
@media (max-width: 767px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
  }
}